TIPE DATA YANG SERING DIGUNAKAN:
- INTEGER
- FLOAT
- STRING
- BOOLEAN

INTEGER (bil bulat)

In [1]:
print(123123123)

123123123

In [2]:
print (4)
print (type(4))

4
<class 'int'>

FLOAT (bil desimal)

In [3]:
print (2.3)
print (type(2.3))

2.3
<class 'float'>

In [4]:
print(4.2e-4)
print(type(4.2e-4))

0.00042
<class 'float'>

STRING

In [5]:
print ("nama saya dian")

nama saya dian

In [6]:
print(type("halo"))

<class 'str'>

In [7]:
print("ini tanda petik ' ")

ini tanda petik '

VARIABLE
tidak boleh menggunakan spasi(bisa pake underscore),tidak boleh diawali angka

In [8]:
# ini contoh variable yang salah

9_angka = ('angka')
angka sembilan = ('angka')
print(9_angka)
print(angka sembilan)

SyntaxError: invalid decimal literal (498904036.py, line 3)

In [9]:
# ini contoh variable yang benar

angka_sembilan = ('string')
print(angka_sembilan)

string

BOOLEAN (TRUE/FALSE)

In [10]:
True
False

False

In [11]:
print(True)

True

In [12]:
print(False)

False

In [13]:
print(type(True))

<class 'bool'>

VARIABLE ASSIGNMENT

In [14]:
angka = 59
print (angka)
print(type(angka))
print(type(300))

59
<class 'int'>
<class 'int'>

In [15]:
text = "hh"
print(text)
print (type(text))

hh
<class 'str'>

In [16]:
a = b = c =2
print(a)

2

In [17]:
print(a,b,c)

2 2 2

In [18]:
print(type(b))

<class 'int'>

In [19]:
rumah = 'bekasi'
Rumah = 'Jakarta'
print(rumah,Rumah)

bekasi Jakarta

In [20]:
# komentar (ctrl + /)

OPERATORS(OPERASI ARITMATIKA 
1. (+) penjumlahan 
2. (/) pembagian
3. (-) pengurangan
4. (*) perkalian
5. (//) pembulatan kebawah
6. (%) modulo
7. (**) perpangkatan

In [21]:
a = 10
b = 5
print (a+b)
print (a/b)
print (a*b)
print (a//b)
print (type(10/5))
print (type(10//5))

15
2.0
50
2
<class 'float'>
<class 'int'>

In [22]:
print(11%2)

1

In [23]:
print(3**2)

9

In [24]:
# quiz 30c ke f
z = 30 
f = z* 9/5 + 32
print (f)

86.0

COMPARISON OPERATORS

- persamaan (==)
- lebih dari (>)
- lebih dari sama dengan (>=)
- kurang dari (<)
- kurang dari sama dengan (<=)
- tidak sama dengan/not equal (!=)

In [25]:
x = 10
y = 30
z = 40
print(x==y)
print(y==z)
print(x>y)
print(y<z)

False
False
False
True

In [26]:
print(x!=y)
print(y!=z)

True
True

STRING MANIPULATION

In [27]:
s = "foo"
t = "bar"
u = "baz"
print(s+t)
print(t+u)
print(s*4)

foobar
barbaz
foofoofoofoo

OPERATOR IN

In [28]:
a = 'buah'
print (a in "saya mau beli buah")
print (a in "saya mau singkong")

True
False

CASE CONVERSION

- upper case menggunakan upper
- lower case menggunakan lower
- capitalize menggunakan capatilize

In [29]:
a = 'kota semarang'
print (a.upper())
print (a.lower())
print (a.capitalize())
print (a.title())
print (a.swapcase())

KOTA SEMARANG
kota semarang
Kota semarang
Kota Semarang
KOTA SEMARANG

LISTS

In [30]:
a = ['aku','mau','pergi']
print(a)

['aku', 'mau', 'pergi']

In [31]:
b = ['aku',1,True,3.7]
print(b)

['aku', 1, True, 3.7]

INDEXING DAN SLICING

In [32]:
a = ['foo','bar','baz','qux','quux','corge']
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [33]:
# Indexing
print(a[0])
print(a[3])
print(a[-6])
print(a[-6]==a[0])

foo
qux
foo
True

In [34]:
x = 'budi'
print(x[-1])

i

PRINSIP SLICING = [start:stop:step]

In [35]:
# slicing
a = ['foo','bar','baz','qux','quux','corge']
print(a[0:6])
print(a[1:])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['bar', 'baz', 'qux', 'quux', 'corge']

In [36]:
x = 'budi'
print(x[1:3])
print(x[1:])

ud
udi

In [37]:
y = 'Jaka Tingkir Suryanegara'
print(y[::-1])

aragenayruS rikgniT akaJ

In [38]:
# quiz
a = 'komitmen'
print(a[3])
print(a[1:4])
print(a[4:9])
print(a[0::2])
print(a[0]+a[2]+a[4]+a[7])

i
omi
tmen
kmte
kmtn

MODIFY LIST VALUES BASED ON ITS INDEX

In [39]:
a = ['foo','bar','baz','qux','quux','corge','quux']
a[a.index('qux')] = 20

In [40]:
# del command
del a[a.index('quux')]
print(a)

['foo', 'bar', 'baz', 20, 'corge', 'quux']

In [41]:
print(a)

['foo', 'bar', 'baz', 20, 'corge', 'quux']

In [42]:
a = ['foo','bar','baz','qux','quux','corge','quux']
a[0:3] = [1,2,3]
print(a)

[1, 2, 3, 'qux', 'quux', 'corge', 'quux']

TUPLE

In [43]:
t = ('foo','bar','baz','qux','quux','corge','quux')
print(type(t))

<class 'tuple'>

In [44]:
t[0]=1

TypeError: 'tuple' object does not support item assignment

DICTIONARY

In [45]:
MLB_team = {
    'Colorado':'Rockies',
    'Boston':'Red Sox',
    'Minnesota':'Twins',
    'Milwaukee':'Brewers',
    'Seattle':'Mariners'
}

In [46]:
print(MLB_team['Colorado'])
print(MLB_team['Boston'])

Rockies
Red Sox

In [47]:
# Assign Kota Baru
MLB_team['Kansas City'] = 'Royals'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [48]:
#Update Tim Kota
MLB_team['Seattle'] = 'Seahawks'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

In [49]:
# del command
del MLB_team['Colorado']
print(MLB_team)

{'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

DICTIONARY

In [50]:
orang = {}
print(type(orang))

<class 'dict'>

In [51]:
orang['Nama'] = 'Budi'
orang['Kota'] = 'Solo'
orang['Umur'] = 32
orang['Anak'] = ['Budi','Sarah','Syifa']
orang['Kendaraan'] ={'mobil':'Innova','motor':'mio'}
orang

{'Nama': 'Budi',
 'Kota': 'Solo',
 'Umur': 32,
 'Anak': ['Budi', 'Sarah', 'Syifa'],
 'Kendaraan': {'mobil': 'Innova', 'motor': 'mio'}}

In [52]:
print(orang['Kendaraan']['motor'])

mio

In [53]:
print(orang['Anak'][0:2])

['Budi', 'Sarah']

LINE CONTINUATION

In [54]:
print(True and True)
print(True and False)
print(True or True)
print(True or False)
print(False and False)
print(False or False)

True
False
True
True
False
False

In [55]:
# kerja diantara umur 16-65
umur1 = 42
umur2 = 16
umur3=71

print(umur1>=18 and umur1<=65)
print(umur2>=18 and umur2<=65)
print(umur3>=18 and umur3<=65)

True
False
False

In [56]:
print((umur1>=18 and umur1<=65) or (umur2>=18 and umur2<=65) or (umur3>=18 and umur3<=65))

True

TAMBAHAN

In [57]:
mobil = ['Toyota','Kijang']
mobil = mobil + ['Isuzu']
print(mobil)

['Toyota', 'Kijang', 'Isuzu']

In [58]:
mobil = ['Toyota','Kijang']
mobil.append('Isuzu')
print(mobil)

['Toyota', 'Kijang', 'Isuzu']

In [59]:
kendaraan = mobil.copy()
print(kendaraan)

['Toyota', 'Kijang', 'Isuzu']

In [60]:
kendaraan.append('Innova')
kendaraan.append('Innova')

print(kendaraan)
print(mobil)

['Toyota', 'Kijang', 'Isuzu', 'Innova', 'Innova']
['Toyota', 'Kijang', 'Isuzu']

In [61]:
print(kendaraan)

['Toyota', 'Kijang', 'Isuzu', 'Innova', 'Innova']

In [62]:
kendaraan.remove('Innova')

In [63]:
buah = ['Pisang','Jeruk','Apel']
buah.pop(1)
print(buah)

['Pisang', 'Apel']